html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz {
  background-image: -webkit-linear-gradient(-45deg, #C41616, #D95622);
  padding-bottom: 19.2px;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__iOSStatusBar--1rx4y8 {
  height: 20px;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz h1 {
  color: #fff;
  font-size: 22.4px;
  text-align: center;
  padding: 12.8px 0 24px 0;
  margin-top: 0;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__daySignBtnWrap--1TJfGy {
  display: flex;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__daySignBtnWrap--1TJfGy .src-pages-daySign__daySignBtn--3xR8w0 {
  height: 38.4px;
  line-height: 38.4px;
  background-color: #FCF639;
  border: none;
  border-radius: 19.2px;
  margin: 0 auto;
  padding: 0 32px;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__daySignBtnWrap--1TJfGy .src-pages-daySign__daySignBtn--3xR8w0.am-button-disabled {
  background-color: #f4f4f4;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__daySignBtnWrap--1TJfGy .src-pages-daySign__daySignBtn--3xR8w0 i {
  font-size: 19.2px;
  margin-right: 6.4px;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-size: 14px;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz p .src-pages-daySign__normal--34WmaJ {
  opacity: 0.7;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz p a {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
  color: #fff;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta {
  margin: 16px 0 20.8px 0;
  display: flex;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 {
  flex: 1;
  display: flex;
  display: box;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 8px;
  left: 50%;
  background-color: #FCF639;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0:last-child:after {
  content: '';
  display: none;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--3uveJn-1 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FCF639;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--3uveJn-2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FCF639;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--3uveJn-3 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FCF639;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--3uveJn-4 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FCF639;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--3uveJn-5 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FCF639;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--3uveJn-6 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FCF639;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--3uveJn-7 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FCF639;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--4uveJn-1 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1DCD4E;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--4uveJn-2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1DCD4E;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--4uveJn-3 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1DCD4E;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--4uveJn-4 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1DCD4E;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--4uveJn-5 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1DCD4E;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--4uveJn-6 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1DCD4E;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 .src-pages-daySign__stepIcon--4uveJn-7 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1DCD4E;
  font-size: 9.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0 p {
  color: #FCF639;
  font-size: 12px;
  margin-top: 8px;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0.src-pages-daySign__finish--32MevK:after {
  background-color: #fff;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0.src-pages-daySign__finish--32MevK .src-pages-daySign__stepIcon--3uveJn {
  color: #1DCD4E;
  background-color: #fff;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0.src-pages-daySign__finish--32MevK .src-pages-daySign__stepIcon--3uveJn i {
  font-size: 9.6px !important;
  font-weight: bolder;
}
.src-pages-daySign__daySign--7ktiiH .src-pages-daySign__head--2ymrSz .src-pages-daySign__steps--2ZeSta .src-pages-daySign__step--2MlIk0.src-pages-daySign__finish--32MevK p {
  color: #fff;
}
.src-pages-daySign__shareImgModal--qBBn_3 {
  width: 85% !important;
}
.src-pages-daySign__shareImgModal--qBBn_3 .am-modal-close {
  margin: 16px 0 0 0;
}
.src-pages-daySign__shareImgModal--qBBn_3 .am-modal-content,
.src-pages-daySign__shareImgModal--qBBn_3 .am-modal-body {
  padding: 0 !important;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-components-daySign-Popup__Popup--3079rY {
  position: relative;
  padding-bottom: 110px;
  padding-top: 115%;
  background-size: 100%;
}
.src-components-daySign-Popup__Popup--3079rY .src-components-daySign-Popup__bottomBar--ZZD8fw {
  position: absolute;
  height: 158px;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.src-components-daySign-Popup__Popup--3079rY .src-components-daySign-Popup__bottomBar--ZZD8fw .src-components-daySign-Popup__imgText--3rQ-fW {
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-left: 16px;
}
.src-components-daySign-Popup__Popup--3079rY .src-components-daySign-Popup__bottomBar--ZZD8fw .src-components-daySign-Popup__bottomBtn--1jFa8_ {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 16px;
}
.src-components-daySign-Popup__Popup--3079rY .src-components-daySign-Popup__bottomBar--ZZD8fw .src-components-daySign-Popup__bottomBtn--1jFa8_ .src-components-daySign-Popup__shareBtn--39oAz0 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  line-height: 40px;
  background-color: #F52B23;
  border-radius: 20px;
  width: 240px;
  margin: 0 auto 16px auto;
  color: #fff;
}
.src-components-daySign-Popup__Popup--3079rY .src-components-daySign-Popup__bottomBar--ZZD8fw .src-components-daySign-Popup__bottomBtn--1jFa8_ .src-components-daySign-Popup__shareBtn--39oAz0 img {
  width: 24px;
  margin-right: 8px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 {
  padding: 24px 14.4px 64px 14.4px;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 .src-components-daySign-Campaign__bannerImg--3KLmRA {
  width: 148.8px;
  float: left;
  margin: 0 16px 16px 0;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 h1 {
  font-size: 21.92px;
  margin-bottom: 24px;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 h2 {
  font-size: 16px;
  color: #494949;
  clear: both;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 table {
  width: 100%;
  border-collapse: collapse;
  line-height: 35.2px;
  border-color: #CECECE;
  margin: 16px 0;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 table th {
  font-weight: normal;
  border: solid 1px #CECECE;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 table th span {
  font-size: 19.2px;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 table td {
  text-align: center;
  border: solid 1px #CECECE;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 table td span {
  font-size: 19.2px;
  color: red;
}
.src-components-daySign-Campaign__Campaign--VdqCw3 .src-components-daySign-Campaign__joinBtn--GgxvXU {
  background-color: #D0021B;
  color: #fff;
  position: fixed !important;
  bottom: 0;
  width: 100%;
  margin: 0 -14.4px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY {
  padding: 24px 14.4px 80px 14.4px;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY .src-components-daySign-NoCampaign__bannerImg--2BEF2R {
  width: 144px;
  margin: 0 14.4px 16px 0;
  float: left;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY h1 {
  font-size: 21.92px;
  margin: 0;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY ul {
  clear: both;
  padding: 0;
  list-style: none;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 19.2px;
  line-height: 40px;
  text-align: left;
  margin-left: 15%;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY ul li img {
  width: 16px;
  margin-right: 9.6px;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY ul li span {
  color: #D0021B;
  font-weight: bold;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY .src-components-daySign-NoCampaign__info1--1CHnd- {
  margin-top: 14.4px;
  color: #999999;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY .src-components-daySign-NoCampaign__info2--1SSevo {
  font-size: 0.825;
  color: #999999;
  padding: 0 32px;
  display: flex;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY .src-components-daySign-NoCampaign__info2--1SSevo .src-components-daySign-NoCampaign__label--3QOujl {
  width: 96px;
  text-align: right;
}
.src-components-daySign-NoCampaign__Campaign--1D-8LY .src-components-daySign-NoCampaign__joinBtn--3pvRWW {
  background-color: #D0021B;
  color: #fff;
  bottom: 0;
  width: calc(100% - 32px);
  position: fixed !important;
  bottom: 16px;
  left: 16px;
}

/*# sourceMappingURL=daySign.css.map*/