html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-pages-friend__friend--wnUiIM {
  width: 100%;
  height: 100%;
  background-image: url(imgs/img_bg-1vsYSd.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.src-pages-friend__friend--wnUiIM .src-pages-friend__head--1QInS- .src-pages-friend__headTab--2TMjLv {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 48px;
}
.src-pages-friend__friend--wnUiIM .src-pages-friend__head--1QInS- .src-pages-friend__headTab--2TMjLv button {
  color: #fff;
  margin: 0;
  font-weight: lighter;
  width: 96px;
  outline: none;
  font-size: 17.6px;
  font-size: 17.6px;
  white-space: nowrap;
}
.src-pages-friend__friend--wnUiIM .src-pages-friend__head--1QInS- .src-pages-friend__headTab--2TMjLv .src-pages-friend__activeLine--grx6k7 {
  position: absolute;
  bottom: 0;
  width: 16px;
  height: 2px;
  background-color: #fff;
  transition: -webkit-transform 0.38s;
  transition: transform 0.38s;
  transition: transform 0.38s, -webkit-transform 0.38s;
  left: 50%;
  margin-left: -8px;
}
.src-pages-friend__friend--wnUiIM .src-pages-friend__head--1QInS- .src-pages-friend__headTab--2TMjLv.src-pages-friend__invite--3lulFi .src-pages-friend__activeLine--grx6k7 {
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}
.src-pages-friend__friend--wnUiIM .src-pages-friend__head--1QInS- .src-pages-friend__headTab--2TMjLv.src-pages-friend__friendManage--3X6MtR .src-pages-friend__activeLine--grx6k7 {
  -webkit-transform: translate(40px, 0);
          transform: translate(40px, 0);
}
.src-pages-friend__friend--wnUiIM .src-pages-friend__head--1QInS- .src-pages-friend__how--1llJWO {
  font-size: 12px;
  position: absolute;
  right: 16px;
  top: 16px;
  color: #fff;
  text-decoration: none;
}
.src-pages-friend__friend--wnUiIM .src-pages-friend__active--1fooLb {
  display: block;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA {
  display: none;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__headBanner--ic_eiT {
  display: flex;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__headBanner--ic_eiT .src-components-FriendManage-FriendManage__content--3xStsS {
  padding: 35.2px 0;
  text-align: center;
  color: #fff;
  flex: 1;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__headBanner--ic_eiT .src-components-FriendManage-FriendManage__content--3xStsS span {
  font-size: 36px;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__inviteMoreFriend--P452Op {
  line-height: 44px;
  color: #888;
  background-color: #f5f5f9;
  padding: 0 16px;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO {
  background-color: #fff;
  padding: 0 16px;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a h1,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 h1,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO h1 {
  font-size: 16px;
  line-height: 36px;
  position: relative;
  padding: 8px 0 0 16px;
  margin: 0;
  font-weight: normal;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a h1:before,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 h1:before,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO h1:before {
  content: '';
  display: block;
  width: 2px;
  background-color: #FF5614;
  height: 16px;
  position: absolute;
  left: 8px;
  top: 16px;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table {
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr th,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr th,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr th {
  font-size: 14.4px;
  color: #888;
  font-weight: normal;
  line-height: 36px;
  border-bottom: solid 1px #efefef;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td {
  text-align: center;
  line-height: 36px;
  font-size: 14.4px;
  color: #222;
  border-bottom: solid 1px #efefef;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td:nth-child(1),
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td:nth-child(1),
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td:nth-child(1) {
  width: 25%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td:nth-child(2),
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td:nth-child(2),
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td:nth-child(2),
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td:nth-child(3),
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td:nth-child(3),
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td:nth-child(3) {
  color: #FF5614;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td .src-components-FriendManage-FriendManage__btn--30Kv-D,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td .src-components-FriendManage-FriendManage__btn--30Kv-D,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td .src-components-FriendManage-FriendManage__btn--30Kv-D {
  color: #FF5614;
  padding: 0;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td .src-components-FriendManage-FriendManage__btn--30Kv-D:before,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td .src-components-FriendManage-FriendManage__btn--30Kv-D:before,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td .src-components-FriendManage-FriendManage__btn--30Kv-D:before {
  border-color: #FF5614;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td .src-components-FriendManage-FriendManage__btnActive--IpY200,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td .src-components-FriendManage-FriendManage__btnActive--IpY200,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td .src-components-FriendManage-FriendManage__btnActive--IpY200 {
  color: #fff;
  background-color: #FF5614;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td .src-components-FriendManage-FriendManage__btnActive--IpY200:before,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td .src-components-FriendManage-FriendManage__btnActive--IpY200:before,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td .src-components-FriendManage-FriendManage__btnActive--IpY200:before {
  border-color: #FF5614;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a table tr td .src-components-FriendManage-FriendManage__success--1fdfws,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 table tr td .src-components-FriendManage-FriendManage__success--1fdfws,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO table tr td .src-components-FriendManage-FriendManage__success--1fdfws {
  color: green;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__successInvite--2Y1B1a .src-components-FriendManage-FriendManage__allFriendLoaded--1I0Z5F,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__useZhwll--OXe9m7 .src-components-FriendManage-FriendManage__allFriendLoaded--1I0Z5F,
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__canGetHighIncome--ewBmqO .src-components-FriendManage-FriendManage__allFriendLoaded--1I0Z5F {
  text-align: center;
  color: #A4A4A4;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__bottomBanner--3i9r-F {
  text-align: center;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__bottomBanner--3i9r-F img {
  margin: 8px 0 0 0;
  width: calc(100% - 28.8px);
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__showAllFriend--1BZlAd {
  color: #888;
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
  margin: 16px 0 0 0;
}
.src-components-FriendManage-FriendManage__friendManage--eZBhqA .src-components-FriendManage-FriendManage__showAllFriend--1BZlAd img {
  height: 16px;
  margin-left: 16px;
}
.src-components-Invite-Invite__Invite--HKgTn5 {
  text-align: center;
  display: none;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__shareLink--ZbIxww {
  padding-top: 17.6px;
  background-color: #fff;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__shareLink--ZbIxww p {
  font-size: 16px;
  text-align: center;
  margin: 0 0 15.04px 0;
  color: #222;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__shareLink--ZbIxww ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__shareLink--ZbIxww ul:after {
  content: '';
  display: block;
  clear: both;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__shareLink--ZbIxww ul li {
  list-style: none;
  width: 33.33%;
  text-align: center;
  float: left;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__shareLink--ZbIxww ul li img {
  width: 49.92px;
  height: 49.92px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__shareLink--ZbIxww ul li p {
  margin: 0 0 9.92px 0;
  color: #999;
  font-size: 11.04px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__centerBanner--3Ze3HT {
  padding-top: 16px;
  margin-bottom: 22.4px;
  text-align: center;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteCode--6tmqRl {
  height: 164px;
  background-image: url(imgs/img_yaoqingma@3x-25MHFV.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  position: relative;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteCode--6tmqRl .src-components-Invite-Invite__howToInvite--2xJvpX {
  width: 160px;
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -80px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__enterBar--1t9PUY {
  margin: 0 32px;
  display: flex;
  justify-content: center;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__enterBar--1t9PUY .src-components-Invite-Invite__toInvite--3y7f3f,
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__enterBar--1t9PUY .src-components-Invite-Invite__enterInvite--1sGjYQ {
  flex: 1;
  font-size: 16px;
  background-color: #FF5614;
  height: 44.8px;
  border-radius: 22.4px;
  color: #fff;
  margin: 15.04px 6.4px 32px 6.4px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__successInvite--gf6jlY {
  padding-left: 16px;
  line-height: 40px;
  border-top: solid 10px #ebebeb;
  border-bottom: solid 10px #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__successInvite--gf6jlY .src-components-Invite-Invite__bold--1ZA5wn {
  color: #FF5614;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW {
  text-align: left;
  position: relative;
  padding: 0 16px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW h2 {
  text-align: center;
  font-size: 17.92px;
  line-height: 32px;
  position: relative;
  margin: 8px 0;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW h2:after {
  content: '';
  height: 1px;
  width: 20px;
  background-color: #FF5614;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 48px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW h2:before {
  content: '';
  height: 1px;
  width: 20px;
  background-color: #FF5614;
  position: absolute;
  right: 50%;
  top: 50%;
  margin-right: 48px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW h3 {
  font-size: 17.92px;
  color: #FF5614;
  font-weight: normal;
  margin: 16px 0 8px 0;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW p {
  margin: 8px 0;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW p span {
  color: #FF5614;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW .src-components-Invite-Invite__rule--ek2iTb:after {
  content: '';
  display: block;
  clear: both;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW .src-components-Invite-Invite__rule--ek2iTb ul {
  list-style: none;
  padding: 0;
  width: 50%;
  float: left;
  text-align: center;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW .src-components-Invite-Invite__rule--ek2iTb ul li {
  line-height: 40px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW .src-components-Invite-Invite__rule--ek2iTb ul li:nth-child(odd) {
  background-color: #ebebeb;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW .src-components-Invite-Invite__rule--ek2iTb .src-components-Invite-Invite__ruleInfo--wvZsZV {
  float: left;
  font-size: 12.8px;
  padding: 14.4px;
  line-height: 24px;
  background-color: #ebebeb;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__inviteGift--1HgsrW .src-components-Invite-Invite__rule--ek2iTb .src-components-Invite-Invite__ruleInfo--wvZsZV span {
  color: #FF5614;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__qr--1BbiJZ {
  padding: 0 16px 16px 16px;
  display: flex;
  align-items: center;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__qr--1BbiJZ:after {
  content: '';
  display: block;
  clear: both;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__qr--1BbiJZ img {
  width: 117.92px;
  float: left;
  margin: 16px;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__qr--1BbiJZ .src-components-Invite-Invite__qrInfo--3hHfli {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.src-components-Invite-Invite__Invite--HKgTn5 .src-components-Invite-Invite__qr--1BbiJZ .src-components-Invite-Invite__qrInfo--3hHfli p {
  margin: 8px 0;
}
.src-components-FriendManage-noFriendList__noFriend--2A9vfp {
  background-color: #fff;
  padding: 32px;
  text-align: center;
}
.src-components-FriendManage-noFriendList__noFriend--2A9vfp p {
  text-align: left;
  margin-bottom: 16px;
  line-height: 19.2px;
}
.src-components-FriendManage-noFriendList__noFriend--2A9vfp button {
  background-color: #FF5614;
  width: 80%;
  height: 32px;
  color: #fff;
  border-radius: 16px;
}

/*# sourceMappingURL=friend.css.map*/