html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy {
  background-color: #fff;
  padding-bottom: 68px;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__pageTitle--i5KDBm {
  font-size: 19.04px;
  line-height: 48px;
  background-color: #D0021B;
  color: #fff;
  text-align: center;
  font-weight: normal;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__marqueeMessage--2Im1SY {
  font-size: 12px;
  text-align: center;
  line-height: 29.92px;
  background-color: #fff;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__bigSlogen--1hGOPQ {
  height: 258.16px;
  background-image: url(imgs/bg-v3rv8g.png);
  background-size: cover;
  color: #fff;
  text-align: center;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__bigSlogen--1hGOPQ.src-pages-inviteFriend__hasCampaign--3ZEujK {
  background-image: url(imgs/campaignBg-1qsbYL.png);
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__bigSlogen--1hGOPQ h1 {
  font-size: 54.08px;
  margin-top: 0;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__bigSlogen--1hGOPQ h2 {
  font-size: 38.4px;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__bigSlogen--1hGOPQ h3 {
  width: 70%;
  color: #FFD3FA;
  margin: 0 auto;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inviteCodeWrap--2qJtf7 {
  width: 260px;
  padding: 0 20px 0 20px;
  margin: -57.6px auto 0 auto;
  background-image: linear-gradient(-52deg, #F5515F 0%, #9F041B 100%);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(208, 2, 27, 0.3);
  border-radius: 4px;
  position: relative;
  z-index: 10;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inviteCodeWrap--2qJtf7.src-pages-inviteFriend__hasCampaign--3ZEujK {
  background-image: linear-gradient(-52deg, #F07240 0%, #E33939 100%);
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inviteCodeWrap--2qJtf7 h1 {
  line-height: 48px;
  font-size: 16px;
  font-weight: 800;
  margin: 0;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inviteCodeWrap--2qJtf7 h1 span {
  float: right;
  opacity: 0.5;
  font-size: 13.2px;
  font-weight: normal;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inviteCodeWrap--2qJtf7 .src-pages-inviteFriend__inviteCode--R2ZrEp {
  line-height: 72px;
  font-size: 49.92px;
  font-weight: 800;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inviteCodeWrap--2qJtf7 .src-pages-inviteFriend__howToUse--3XaUu_ {
  line-height: 35.2px;
  background-color: #fff;
  color: #a4a4a4;
  text-align: right;
  margin: 0 -20px;
  padding-right: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__shareBtn--32nUit {
  background-color: #fff;
  padding-top: 112px;
  margin-top: -91.2px;
  border-bottom: #F4F4F4 10px solid;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inviteProcess--rUoABC {
  padding-top: 40px;
  border-bottom: #F4F4F4 10px solid;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__shareList--3h_Am7 {
  margin-top: 32px;
  padding-bottom: 27.2px;
  border-bottom: solid #f4f4f4 8px;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inputCodeAndInviteWrap--3QDV8N {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inputCodeAndInviteWrap--3QDV8N .src-pages-inviteFriend__showInputModalBtn--1qRcRF {
  flex: 1;
  color: #D0021B;
  font-weight: 800;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inputCodeAndInviteWrap--3QDV8N .src-pages-inviteFriend__showInputModalBtn--1qRcRF:before {
  border: none;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inputCodeAndInviteWrap--3QDV8N .src-pages-inviteFriend__showShareModalBtn--3qeqqA {
  background-color: #D0021B;
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-weight: 800;
  text-align: center;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inputCodeAndInviteWrap--3QDV8N .src-pages-inviteFriend__showShareModalBtn--3qeqqA:nth-child(2) {
  margin-right: 16px;
}
.src-pages-inviteFriend__inviteFriend--1dRiBy .src-pages-inviteFriend__inputCodeAndInviteWrap--3QDV8N .src-pages-inviteFriend__showShareModalBtn--3qeqqA:before {
  border: none;
}
.src-pages-inviteFriend__shareModalWrap--Up-TCv .am-modal-content {
  background-color: transparent;
}
.src-pages-inviteFriend__shareModalWrap--Up-TCv .src-pages-inviteFriend__shareModal--2zCKIe {
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 60px;
}
.src-pages-inviteFriend__HowToInviteModalWrap--2hCcv- .am-modal-content {
  padding-top: 0 !important;
}
.src-pages-inviteFriend__HowToInviteModalWrap--2hCcv- .src-pages-inviteFriend__HowToInviteModal--390gwS {
  width: 80%;
}
.src-pages-inviteFriend__HowToInviteModalWrap--2hCcv- .src-pages-inviteFriend__HowToInviteModal--390gwS h1.src-pages-inviteFriend__modalTitle--2_3bfE {
  height: 75.2px;
  line-height: 75.2px;
  background-image: linear-gradient(45deg, #274FFF 0%, #1B9AF5 100%);
  backgrund-color: #1E89F7;
  margin: 0 -15px;
  color: #fff;
  font-weight: normal;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  position: relative;
}
.src-pages-inviteFriend__HowToInviteModalWrap--2hCcv- .src-pages-inviteFriend__HowToInviteModal--390gwS h1.src-pages-inviteFriend__modalTitle--2_3bfE:before {
  content: '';
  display: block;
  width: 60.32px;
  height: 73.76px;
  background-image: url(imgs/icon_guanfang-2OxY1b.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: -51.68px;
}
.src-pages-inviteFriend__HowToInviteModalWrap--2hCcv- .src-pages-inviteFriend__HowToInviteModal--390gwS .src-pages-inviteFriend__modalContent--2whjnQ {
  height: 368px;
  overflow: auto;
}
.src-pages-inviteFriend__HowToInviteModalWrap--2hCcv- .src-pages-inviteFriend__HowToInviteModal--390gwS .src-pages-inviteFriend__HowToInviteModalOKBtn--NEUQCB {
  width: 80%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #1E89F7;
  box-shadow: 0 10px 20px 0 rgba(0, 117, 255, 0.5);
  border-radius: 50px;
  margin: 12.8px auto;
}
.src-components-inviteFriend-ShareList__ShareList--3_9wBb {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.src-components-inviteFriend-ShareList__ShareList--3_9wBb:after {
  content: '';
  display: block;
  clear: both;
}
.src-components-inviteFriend-ShareList__ShareList--3_9wBb li {
  width: 33.33%;
  text-align: center;
  float: left;
  margin: 7.2px 0;
}
.src-components-inviteFriend-ShareList__ShareList--3_9wBb li img {
  width: 50.24px;
}
.src-components-inviteFriend-ShareList__ShareList--3_9wBb li p {
  color: #999999;
  font-size: 13.2px;
}
.src-components-inviteFriend-ShareList__ShareList--3_9wBb li .am-badge-text {
  position: absolute;
  -webkit-transform: none;
          transform: none;
  background-color: #FF4141;
  border-radius: 4px;
}
.src-components-inviteFriend-TopNoteBar__TopNoteBar--28TgxW {
  height: 29.92px;
}
.src-components-inviteFriend-TopNoteBar__TopNoteBar--28TgxW.src-components-inviteFriend-TopNoteBar__empty--2gEgHq {
  height: 0;
}
.src-components-inviteFriend-TopNoteBar__TopNoteBar--28TgxW .src-components-inviteFriend-TopNoteBar__item--1_sMz4 {
  height: 29.92px;
  line-height: 29.92px;
}
.src-components-HowToInviteWltt-HowToInvite__HowToInvite--3XiOBe {
  height: 400px;
  padding-top: 20px;
}
.src-components-HowToInviteWltt-HowToInvite__HowToInvite--3XiOBe h1 {
  color: #222;
  font-size: 19.2px;
}
.src-components-HowToInviteWltt-HowToInvite__HowToInvite--3XiOBe p {
  margin-top: 16px;
  color: #888;
  position: relative;
  padding-left: 10px;
  text-align: left;
}
.src-components-HowToInviteWltt-HowToInvite__HowToInvite--3XiOBe p:before {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  content: '';
  display: inline-block;
  background-color: #1E89F7;
  position: absolute;
  left: 0;
  top: 10px;
}
.src-components-HowToInviteWltt-HowToInvite__HowToInvite--3XiOBe img {
  width: 100%;
}
.src-components-inviteFriend-FriendListEmpty__FriendListEmpty--25PIn8 {
  text-align: center;
}
.src-components-inviteFriend-FriendListEmpty__FriendListEmpty--25PIn8 img {
  width: 113.6px;
  margin-top: 49.6px;
  margin-bottom: 16px;
}
.src-components-inviteFriend-FriendListEmpty__FriendListEmpty--25PIn8 p {
  font-size: 14px;
  color: #a4a4a4;
  margin-bottom: 49.6px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD h1 {
  font-size: 16px;
  text-align: center;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD h1 span {
  color: #D0021B;
  font-size: 19.2px;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD h1 a {
  color: #D0021B;
  display: inline-block;
  margin-left: 16px;
  text-decoration: underline;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 5.92px;
  background-color: #f4f4f4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4:last-child:after {
  display: none;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4.src-components-inviteFriend-InviteProcess__finish--2_vnRT:after {
  background-color: #D0021B;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4.src-components-inviteFriend-InviteProcess__finish--2_vnRT .src-components-inviteFriend-InviteProcess__title--2KuGrx {
  color: #D0021B;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4.src-components-inviteFriend-InviteProcess__finish--2_vnRT .src-components-inviteFriend-InviteProcess__node--3MJdCG {
  background-color: #D0021B;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4.src-components-inviteFriend-InviteProcess__finish--2_vnRT .src-components-inviteFriend-InviteProcess__desc--3ZQibv {
  color: #D0021B;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4.src-components-inviteFriend-InviteProcess__process--2vCRVM:before {
  background-color: #f4f4f4;
  content: '';
  display: inline-block;
  width: 50%;
  height: 5.92px;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 11;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4 .src-components-inviteFriend-InviteProcess__title--2KuGrx {
  color: #A4A4A4;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4 .src-components-inviteFriend-InviteProcess__node--3MJdCG {
  width: 11.2px;
  height: 11.2px;
  background-color: #f4f4f4;
  border-radius: 50%;
  margin: 8px 0;
  position: relative;
  z-index: 10;
}
.src-components-inviteFriend-InviteProcess__InviteProcess--1ef4nD .src-components-inviteFriend-InviteProcess__processWrap--1fAAK6 .src-components-inviteFriend-InviteProcess__processItem--2HwNn4 .src-components-inviteFriend-InviteProcess__desc--3ZQibv {
  color: #A4A4A4;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr {
  color: #494949;
  padding: 16px;
  background-color: #fff;
  font-size: 16px;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr h1 {
  font-size: 17.92px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr h1:before,
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr h1:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 1px;
  background-color: #D0021B;
  margin: 0 8px;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr h2 {
  color: #D0021B;
  font-size: 16px;
  margin: 12.8px 0 8px 0;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr ul {
  list-style: none;
  padding-left: 0;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr p span {
  color: #D0021B;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr .src-components-inviteFriend-RewardNote__note--2kqjgk {
  color: #A4A4A4;
  font-size: 13.6px;
  margin-bottom: 16px;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr .src-components-inviteFriend-RewardNote__rule---h8eC0:after {
  content: '';
  display: block;
  clear: both;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr .src-components-inviteFriend-RewardNote__rule---h8eC0 ul {
  width: 50%;
  float: left;
  list-style: none;
  font-size: 16px;
  padding: 0;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr .src-components-inviteFriend-RewardNote__rule---h8eC0 ul li {
  text-align: center;
  line-height: 40px;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr .src-components-inviteFriend-RewardNote__rule---h8eC0 ul li:nth-child(odd) {
  background-color: #f4f4f4;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr .src-components-inviteFriend-RewardNote__rule---h8eC0 .src-components-inviteFriend-RewardNote__ruleInfo--1FsZbH {
  width: 100%;
  float: left;
  font-size: 12.8px;
  background-color: #f4f4f4;
  padding: 16px;
  text-align: justify;
}
.src-components-inviteFriend-RewardNote__RewardNote--PuMgmr .src-components-inviteFriend-RewardNote__rule---h8eC0 .src-components-inviteFriend-RewardNote__ruleInfo--1FsZbH span {
  color: #D0021B;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
* {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
html {
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
input {
  cursor: pointer;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}
input[type=text] {
  border: solid 1px #4dade0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 5px 10px;
}
button {
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: 100%;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt {
  background-color: #fff;
  padding-top: 16px;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD {
  line-height: 44px;
  color: #888;
  background-color: #f5f5f9;
  padding: 0 16px;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy {
  background-color: #fff;
  padding: 0 16px;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp h1,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea h1,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD h1,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl h1,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy h1 {
  font-size: 16px;
  line-height: 36px;
  position: relative;
  padding: 8px 0 16px 16px;
  margin: 0;
  font-weight: normal;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp h1 span,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea h1 span,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD h1 span,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl h1 span,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy h1 span {
  color: #D0021B;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp h1:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea h1:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD h1:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl h1:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy h1:before {
  content: '';
  display: block;
  width: 2px;
  background-color: #F52B23;
  height: 16px;
  position: absolute;
  left: 8px;
  top: 16px;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table {
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr {
  border-bottom: solid 1px #efefef;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr th,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr th,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr th,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr th,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr th {
  font-size: 14.4px;
  color: #888;
  font-weight: normal;
  line-height: 36px;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td {
  text-align: center;
  line-height: 36px;
  font-size: 14.4px;
  color: #222;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td:nth-child(1),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td:nth-child(1),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td:nth-child(1),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td:nth-child(1),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td:nth-child(1) {
  width: 25%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td:nth-child(2),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td:nth-child(2),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td:nth-child(2),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td:nth-child(2),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td:nth-child(2),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td:nth-child(3),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td:nth-child(3),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td:nth-child(3),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td:nth-child(3),
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td:nth-child(3) {
  color: #D0021B;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s {
  color: #D0021B;
  padding: 0;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td .src-components-inviteFriend-MyFriends__btn--1UFo2s:before {
  border-color: #D0021B;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO {
  color: #fff;
  background-color: #D0021B;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO:before,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td .src-components-inviteFriend-MyFriends__btnActive--JP9nsO:before {
  border-color: #D0021B;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp table tr td .src-components-inviteFriend-MyFriends__success--19PUe0,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea table tr td .src-components-inviteFriend-MyFriends__success--19PUe0,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD table tr td .src-components-inviteFriend-MyFriends__success--19PUe0,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl table tr td .src-components-inviteFriend-MyFriends__success--19PUe0,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy table tr td .src-components-inviteFriend-MyFriends__success--19PUe0 {
  color: green;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__activitySuccessInvite--2LXogp .src-components-inviteFriend-MyFriends__allFriendLoaded--2Me8f0,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__successInvite--3Q7zea .src-components-inviteFriend-MyFriends__allFriendLoaded--2Me8f0,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__inviteMoreFriend--N7S0iD .src-components-inviteFriend-MyFriends__allFriendLoaded--2Me8f0,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__canGetHighIncome--3Rbqhl .src-components-inviteFriend-MyFriends__allFriendLoaded--2Me8f0,
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__useZhwll--15HPCy .src-components-inviteFriend-MyFriends__allFriendLoaded--2Me8f0 {
  text-align: center;
  color: #A4A4A4;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__bottomBanner--3zOmWj img {
  width: 100%;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__showAllFriend--36VITH {
  color: #888;
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
  margin: 16px 0 0 0;
}
.src-components-inviteFriend-MyFriends__MyFriends--1BnKpt .src-components-inviteFriend-MyFriends__showAllFriend--36VITH img {
  height: 16px;
  margin-left: 16px;
}

/*# sourceMappingURL=inviteFriend.css.map*/