body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: none;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: #fff;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

i,
em,
b {
    font-style: normal;
}

select {
    border: solid 1px #000;
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*在选择框的最右侧中间显示小箭头图片*/
}

a:hover,
a:focus {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    vertical-align: middle;
    outline: none;
    border: 0;
}

.fl {
    float: left
}

.fr {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
    /*IE/7/6*/
}