/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

.graybgwhite {
    background-color: #eeeeee;
	color: #000000;
}
.user_profile{
	color: #ffffff;
	font-size: 14px;
}
a.strong {
	font-weight: bold;
	text-decoration: underline;
}
.pagination,.pagination10 {
    margin: 10px 0;
}

.logo{
	height:40px;
}


form {
    margin: 0 0 0px;
}
